/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #faf3e0; /* Suave fondo otoñal */
  color: #333; /* Texto más oscuro */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  padding: 20px 0; /* Menos padding */
  background-color: transparent; /* Sin fondo de color */
}

h1 {
  font-size: 2.5rem;
  color: #e76f51; /* Color otoñal más vibrante */
  margin-bottom: 10px;
}

p {
  font-size: 1.1rem;
  color: #2a9d8f;
}

main {
  padding: 20px;
  text-align: center;
}

main.availability {
  padding: 20px 40px 0px 0px;
  text-align: center;
}

.search-form {
  display: inline-block;
  text-align: left;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  position: relative; /* Para el icono de la lupa */
}

.search-form input[type="text"] {
  width: 100%;
  padding: 10px 40px 10px 40px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M11.742 10.344a6.518 6.518 0 0 0 1.517-4.592 6.5 6.5 0 1 0-2.3 4.601l3.85 3.85a1 1 0 0 0 1.414-1.415l-3.85-3.85-.631.631zm-5.242-.344a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11z"/></svg>');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px;
  box-sizing: border-box;
}

.search-form input[type="date"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #2a9d8f;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #e76f51;
}

/* Estilos para la lista de autocompletado */
.autocomplete-dropdown {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.autocomplete-dropdown li {
  padding: 10px;
  cursor: pointer;
  font-size: 0.9rem;
}

.autocomplete-dropdown li:hover {
  background-color: #f0f0f0;
}

/* Styles for availability and hotel cards */
.availability-page {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 20px;
}

.sidebar {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.1rem;
  margin: 20px;
}

.sidebar h2 {
  font-size: 1.5rem;
  color: #2a9d8f;
}

.summary-row {
  margin-bottom: 10px;
  color: #264653;
  font-size: 1.1rem;
}

.go-back-button {
  padding: 10px 20px;
  background-color: #2a9d8f;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}

.go-back-button:hover {
  background-color: #e76f51;
}

.availability-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hotel-card {
  display: grid;
  grid-template-columns: 200px 1fr 350px;
  gap: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  align-items: start;
  text-align: left;
  width: 100%;
}

.hotel-image-container, .hotel-info, .hotel-price {
  padding-top: 20px;
}

.hotel-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hotel-image {
  width: 180px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.hotel-info {
  padding-right: 20px;
}

.hotel-info h2 {
  margin-top: 0px;
}

.hotel-price {
  max-width: 330px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.hotel-price select,
.hotel-price .select-button,
.hotel-price div {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.hotel-price select {
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.5 5.5a.5.5 0 0 1 .5-.5h12a.5.5 0 0 1 .5.5l-6 6-6-6z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}

.hotel-price .select-button {
  background-color: #2a9d8f;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hotel-price .select-button:hover {
  background-color: #e76f51;
}
